<%= link_to "Revenir aux photos", items_path, class: "btn btn-secondary btn-lg m-4" %>

<div class="container mt5">
  <div class="row">
    <div class="card">
      <img src="<%= @item.image_url %>" class="card-img-top img-fluid">
      <div class="card-body">
        <h2 class="card-title text-center"><%= @item.title %></h2>
        <p><strong>Description :</strong> <%= @item.description %> </p>
        <p><strong>Prix :</strong> <%= @item.price %></p>
        <%= button_to "Ajouté au panier", add_to_cart_item_path(@item.id), remote: true, method: :post, form_class: "form-inline", class: "btn btn-dark btn-lg add-to-cart", data: { item_id: @item.id } %>
      </div>
    </div>
  </div>
</div>