<footer class="footer-custom bg-light">
  <div class="container text-center py-3">
    <p>Suivez-nous sur les réseaux sociaux :</p>
    <%= link_to "https://www.facebook.com", class: "btn btn-social btn-facebook btn-lg me-2", target: "_blank", rel: "noopener noreferrer" do %>
      <i class="fab fa-facebook-f"></i> Facebook
    <% end %>
    <%= link_to "https://www.twitter.com", class: "btn btn-social btn-twitter btn-lg me-2", target: "_blank", rel: "noopener noreferrer" do %>
      <i class="fab fa-twitter"></i> Twitter
    <% end %>
    <%= link_to "https://www.instagram.com", class: "btn btn-social btn-instagram btn-lg me-2", target: "_blank", rel: "noopener noreferrer" do %>
      <i class="fab fa-instagram"></i> Instagram
    <% end %>
    <%= link_to "https://www.discord.com", class: "btn btn-social btn-discord btn-lg me-2", target: "_blank", rel: "noopener noreferrer" do %>
      <i class="fab fa-discord"></i> Discord
    <% end %>
    <%= link_to "https://www.github.com", class: "btn btn-social btn-github btn-lg me-2", target: "_blank", rel: "noopener noreferrer" do %>
      <i class="fab fa-github"></i> GitHub
    <% end %>
  </div>
</footer>
